# Analysis and Visualization of Crime in London City

## Backgrounder

`Crime `is a significant social issue in many major cities around the world, including London City, the capital of England. Greater London is a densely populated metropolitan area, which includes various boroughs or administrative districts. Understanding crime trends in Greater London has important implications for security policies, law enforcement, and the quality of life of city residents.

In order to identify and address crime problems, crime data in London has been uploaded and shared with the public. This data includes information about the type of crime, the location of the crime, as well as the time and date the crime was reported. This data can provide valuable insights into crime patterns in the area.

## Dataset
Pada kasus ini akan dilakukan teknik visualisasi menggunakan dataset `London Crime Data` 2008-2016'

Sebelum mulai, download dataset dengan menjalankan cell berikut:

In [2]:
import numpy as np
import pandas as pd

In [3]:
url_london_crime = "../dataset/london_crime_by_lsoa.csv"
df_lc = pd.read_csv(
    url_london_crime
    # dtype={'month': str,
    # 'year': str})
)

In [4]:
df_lc.head(6)

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6
5,E01001320,Ealing,Theft and Handling,Other Theft,0,2012,5

In [5]:
df_lc.shape

(13490604, 7)

In [6]:
df_lc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13490604 entries, 0 to 13490603
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   lsoa_code       object
 1   borough         object
 2   major_category  object
 3   minor_category  object
 4   value           int64
 5   year            int64
 6   month           int64
dtypes: int64(3), object(4)
memory usage: 720.5+ MB

In [ ]:
df_borouh =